/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */
 :root {
     --max-table-width: 960px;
     --govuk-min-margin: 30px;

     @media (max-width: 641px) {
         --govuk-min-margin: 15px;
     }
 }

.govuk-table__container {
    width: calc(100vw - (2*var(--govuk-min-margin))) !important;
    max-width: var(--max-table-width);
    overflow-x: scroll;
}

#subcontractor-table {
    width: calc(100vw - (2*var(--govuk-min-margin)));
    max-width: var(--max-table-width);
    white-space: normal;
    overflow-wrap: break-word;
}

#subcontractor-table th {
    line-height: 1.2;
    white-space: nowrap !important;
    overflow-wrap: anywhere;
  }

#subcontractor-table th,
#subcontractor-table td {
    padding-right: 25px;
    vertical-align: middle;
}

#subcontractor-table td:not(:first-child) {
    min-width: 100px;
}

#subcontractor-table td:nth-child(2) {
    overflow-wrap: anywhere;
}

@media (max-width: 768px) {
  .govuk-table__container {
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
  }
}

.govuk-checkboxes__item {
    overflow-wrap: break-word;
}

.govuk-pagination__link--button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  color: #1d70b8;
  text-decoration: underline;

  &:hover {
    color: #003078;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

.govuk-pagination__item--current .govuk-pagination__link--button {
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, .99);
  }

  &:focus {
    color: #0b0c0c;
  }
}

#amend-confirmation-summary-table ul {
    margin: 0;
}

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.loading-spinner {
  padding-top: 15px;
  text-align: center;
}

.loading-spinner__spinner {
  margin-left: auto;
  margin-right: auto;
  border: 15px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 80px;
  height: 80px;
  -webkit-animation: loading-spinner-animation 2s linear infinite;
  animation: loading-spinner-animation 2s linear infinite;
}

.loading-spinner__content {
  padding-top: 20px;
}

@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media print {

  .govuk-link {
    text-decoration: none !important;
    color: black !important;
  }

  #print-this-page, .hmrc-sign-out-nav, .govuk-footer, #back-link  {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width:100%;
  }
  a[href]:after {
    content: none !important;
  }
}
