/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */
 @use "autocomplete";


.govuk-pagination__link--button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  color: #1d70b8;
  text-decoration: underline;

  &:hover {
    color: #003078;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
  }
}

.govuk-pagination__item--current .govuk-pagination__link--button {
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, .99);
  }

  &:focus {
    color: #0b0c0c;
  }
}

#subcontractor-table th,
#subcontractor-table td {
  white-space: nowrap;
  padding-right: 25px;
  vertical-align: middle;
}

#subcontractor-table th:first-child,
#subcontractor-table td:first-child {
  width: 40px;
  padding-right: 10px;
}

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.loading-spinner {
  padding-top: 15px;
  text-align: center;
}

.loading-spinner__spinner {
  margin-left: auto;
  margin-right: auto;
  border: 15px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 80px;
  height: 80px;
  -webkit-animation: loading-spinner-animation 2s linear infinite;
  animation: loading-spinner-animation 2s linear infinite;
}

.loading-spinner__content {
    padding-top: 20px;
}

@keyframes loading-spinner-animation {
    0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
